/* Mixins */
/* transitions */
body {
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background: red;
}

h1 {
  color: #1faee4;
  border-bottom: 1px solid #1faee4;
  padding-top: 50px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 36px;
  font-family: "sofia-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  color: #1faee4;
  border-bottom: 1px solid #1faee4;
  padding-top: 50px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: "sofia-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h4 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h5 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sentek-button {
  color: #1abc9c;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #1abc9c;
  transition: all 0.2s ease-in;
}
.sentek-button:hover {
  background: #1abc9c;
  color: white;
  border: 2px solid white;
  text-decoration: none;
}

.white-button {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid white;
  transition: all 0.2s ease-in;
}
.white-button:hover {
  background: #1abc9c;
  color: white;
  border: 2px solid white;
  text-decoration: none;
}

p,
ul,
li,
a,
span {
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top-background-image {
  background: #1faee4;
}

header .site-branding {
  margin-left: 25px;
}
header .site-branding img {
  width: 300px;
  height: 104px;
}
@media (max-width: 667px) {
  header .site-branding img {
    width: 225px;
    height: 78px;
  }
}
@media (max-width: 400px) {
  header .site-branding img {
    width: 200px;
    height: 69px;
  }
}
header .store-link {
  color: black;
  position: absolute;
  right: 40px;
  padding: 10px;
  border: 2px solid #beeeec;
}
@media (max-width: 667px) {
  header .store-link {
    display: none;
  }
}
header #site-navigation {
  position: absolute;
  right: 40px;
  bottom: 5px;
}
@media (max-width: 1200px) {
  header #site-navigation {
    display: none;
  }
}
header #site-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header #site-navigation ul li {
  float: left;
}
header #site-navigation ul li a {
  display: block;
  padding-left: 20px;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
}

.header-container {
  background: white;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.header-container .col-3 {
  z-index: 2;
}

.slider-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.hamburger-container {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 41px;
  top: 64px;
  z-index: 100;
}
@media (max-width: 667px) {
  .hamburger-container {
    top: 25px;
  }
}
.hamburger-container:hover .bar1, .hamburger-container:hover .bar2, .hamburger-container:hover .bar3 {
  background-color: #beeeec;
}
@media (max-width: 1200px) {
  .hamburger-container {
    display: inline-block;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #1faee4;
  margin: 6px 0;
  transition: all 0.2s ease-in;
}
@media (max-width: 400px) {
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
  }
}
.bar1:hover, .bar2:hover, .bar3:hover {
  background-color: #beeeec;
}

/*.left-top-background{

  @include centerBackgroundImage();
  background-image: url('http://localhost/sentek/wp-content/themes/sentek/images/left-top-background.png');

}*/
.mobile-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  background-color: #1faee4;
  overflow-x: hidden;
  transition: all 0.2s ease-in;
}
.mobile-overlay img {
  max-width: 75px;
}
.mobile-overlay .closebtn {
  position: absolute;
  top: 75px;
  right: 100px;
  font-size: 40px;
  color: white;
  font-weight: lighter;
}
.mobile-overlay .closebtn:hover {
  color: #beeeec;
  text-decoration: none;
}
@media (max-width: 767px) {
  .mobile-overlay .closebtn {
    right: 50px;
    top: 50px;
  }
}
.mobile-overlay .overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .mobile-overlay .overlay-content {
    top: 25%;
  }
}
@media (max-width: 600px) {
  .mobile-overlay .overlay-content {
    top: 15%;
  }
}
.mobile-overlay .overlay-content img {
  max-width: 200px;
  margin-top: 25px;
}
.mobile-overlay .overlay-content #primary-menu {
  padding-left: 350px;
  padding-right: 350px;
  font-weight: 300;
  list-style-type: none;
}
@media (max-width: 991px) {
  .mobile-overlay .overlay-content #primary-menu {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 767px) {
  .mobile-overlay .overlay-content #primary-menu {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.mobile-overlay .overlay-content #primary-menu #menu-item-38 a {
  border-bottom: 1px solid black;
}
.mobile-overlay .overlay-content #primary-menu li {
  list-style-type: none;
}
.mobile-overlay .overlay-content #primary-menu li a {
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 34px;
  color: black;
  display: block;
  width: calc(100vw - 700px);
  cursor: pointer;
}
@media (max-width: 991px) {
  .mobile-overlay .overlay-content #primary-menu li a {
    width: calc(100vw - 300px);
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .mobile-overlay .overlay-content #primary-menu li a {
    width: calc(100vw - 90px);
    padding: 0px;
  }
}
@media screen and (max-height: 650px) {
  .mobile-overlay .overlay-content #primary-menu li a {
    font-size: 18px;
    padding: 15px;
  }
}
@media screen and (max-width: 425px) {
  .mobile-overlay .overlay-content #primary-menu li a {
    font-size: 18px;
    padding: 12px;
  }
}
.mobile-overlay .overlay-content #primary-menu li a:hover {
  color: white;
}
.mobile-overlay .overlay-content #primary-menu li a:focus {
  color: white;
}

.home-right-col {
  padding-right: 0px !important;
}
.home-right-col .home-right-img {
  height: 50%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.main-home-band {
  background: white;
}
.main-home-band .home-left-col {
  padding-bottom: 40px;
}
.main-home-band .home-left-col p {
  margin-bottom: 125px;
}

.second-home-band-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

.products-home-band-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #ebf4fb;
}
.products-home-band-wrapper h2 {
  padding-top: 10px;
}

.home-products-row {
  position: relative;
  height: 375px;
}
@media (max-width: 991px) {
  .home-products-row {
    height: 325px;
  }
}
@media (max-width: 767px) {
  .home-products-row {
    height: auto;
  }
}
.home-products-row .product-link-wrapper {
  position: absolute;
  bottom: 20px;
}
@media (max-width: 767px) {
  .home-products-row .product-link-wrapper {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.home-product-wrapper h3 {
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 25px;
}
@media (max-width: 991px) {
  .home-product-wrapper h3 {
    font-size: 20px;
  }
}
.home-product-wrapper a {
  color: #1abc9c;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.home-product-wrapper .feat-img-wrapper {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 200px;
  transition: all 0.2s ease-in;
}
.home-product-wrapper .feat-img-wrapper:hover {
  opacity: 0.8;
}
@media (max-width: 991px) {
  .home-product-wrapper .feat-img-wrapper {
    height: 175px;
  }
}
@media (max-width: 767px) {
  .home-product-wrapper .feat-img-wrapper {
    height: 350px;
  }
}

.home-market-wrapper {
  background: #beeeec;
}
@media (max-width: 767px) {
  .home-market-wrapper {
    margin-bottom: 25px;
  }
}
.home-market-wrapper .markets-link-wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://localhost/sentek/wp-content/themes/sentek/images/markets-home-background.jpg");
}
.home-market-wrapper .markets-link-wrapper h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 991px) {
  .home-market-wrapper .markets-link-wrapper h3 {
    font-size: 20px;
  }
}
.home-market-wrapper .markets-link-wrapper a {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
.home-market-wrapper .feat-img-wrapper {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 225px;
  transition: all 0.2s ease-in;
}
.home-market-wrapper .feat-img-wrapper:hover {
  opacity: 0.8;
}
@media (max-width: 991px) {
  .home-market-wrapper .feat-img-wrapper {
    height: 175px;
  }
}

.strengths-wrapper {
  padding-top: 25px;
}
.strengths-wrapper .icon-full-width-wrapper {
  background: #e3f2f0;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .strengths-wrapper .icon-full-width-wrapper {
    background: white;
  }
}
.strengths-wrapper .icon-wrapper {
  padding: 40px;
}
.strengths-wrapper .strength-col {
  padding-bottom: 25px;
}
.strengths-wrapper .strength-col-1 h4 {
  margin-top: -62px;
}
@media (max-width: 767px) {
  .strengths-wrapper .strength-col-1 h4 {
    margin-top: auto;
  }
}
.strengths-wrapper .strength-col-2 {
  background: white;
}
.strengths-wrapper .strength-col-3 h4 {
  margin-top: -46px;
}
@media (max-width: 767px) {
  .strengths-wrapper .strength-col-3 h4 {
    margin-top: auto;
  }
}
.strengths-wrapper .strength-col-4 {
  background: white;
}
.strengths-wrapper .strength-col-5 {
  background: #e3f2f0;
}
@media (max-width: 767px) {
  .strengths-wrapper .strength-col-5 {
    background: white;
  }
}
.strengths-wrapper .strength-col-5 h4 {
  margin-top: -65px;
}
@media (max-width: 767px) {
  .strengths-wrapper .strength-col-5 h4 {
    margin-top: auto;
  }
}
.strengths-wrapper .strength-col-6 h4 {
  margin-top: -31px;
}
@media (max-width: 767px) {
  .strengths-wrapper .strength-col-6 h4 {
    margin-top: auto;
  }
}
.strengths-wrapper h4 {
  color: #1abc9c;
  border-bottom: 1px solid #1faee4;
  padding-top: 50px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 19px;
}

.leaders-wrapper {
  background: #beeeec;
}
.leaders-wrapper .fourth-home-band {
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}
.leaders-wrapper .fourth-home-band h4 {
  font-size: 36px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}
.leaders-wrapper .fourth-home-band p {
  padding-bottom: 20px;
  font-size: 18px;
}
.leaders-wrapper .fourth-home-band .simplecarousal {
  padding-left: 30px;
  padding-right: 30px;
  /*button.slick-next.slick-arrow{

    background: rgba(255,255,255,0.0)!important;

  }*/
}
.leaders-wrapper .fourth-home-band .feat-img-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 225px;
}
.leaders-wrapper .fourth-home-band .home-news-col h5 {
  padding-bottom: 30px;
}
.leaders-wrapper .fourth-home-band .home-news-col a {
  color: white;
}

.bottom-wrapper {
  padding-bottom: 25px;
}
.bottom-wrapper .gform_description {
  font-size: 18px !important;
}

#gform_1 input {
  height: 55px !important;
  color: #1faee4 !important;
}
#gform_1 input::placeholder {
  color: #1faee4 !important;
}
#gform_1 .gform_heading {
  text-align: center;
}
#gform_1 .gform_heading h3 {
  font-size: 30px !important;
  padding-bottom: 25px;
  margin-bottom: 20px;
  padding-top: 25px;
  color: #1faee4 !important;
  border-bottom: 2px solid #1faee4;
}
#gform_1 .gform_button {
  position: relative !important;
  margin-left: 32% !important;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase !important;
  background: #1faee4 !important;
  color: white !important;
  border: 1px white !important;
  transition: all 0.2s ease-in;
}
#gform_1 .gform_button:hover {
  border: 1px solid #1faee4 !important;
  background: white !important;
  color: #1faee4 !important;
}
@media (max-width: 1200px) {
  #gform_1 .gform_button {
    margin-left: 30% !important;
  }
}
@media (max-width: 991px) {
  #gform_1 .gform_button {
    margin-left: 0% !important;
  }
}

#gform_2 input {
  height: 55px !important;
  color: #1abc9c !important;
}
#gform_2 input::placeholder {
  color: #1abc9c !important;
}
#gform_2 .gform_heading {
  text-align: center;
}
#gform_2 .gform_heading h3 {
  font-size: 30px !important;
  padding-bottom: 25px;
  margin-bottom: 20px;
  padding-top: 25px;
  color: #1abc9c !important;
  border-bottom: 2px solid #1abc9c;
}
#gform_2 .gform_button {
  position: relative !important;
  margin-left: 32% !important;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase !important;
  background: #1abc9c !important;
  color: white !important;
  border: 1px white !important;
  transition: all 0.2s ease-in;
}
#gform_2 .gform_button:hover {
  border: 1px solid #1abc9c !important;
  background: white !important;
  color: #1abc9c !important;
}
@media (max-width: 1200px) {
  #gform_2 .gform_button {
    margin-left: 30% !important;
  }
}
@media (max-width: 991px) {
  #gform_2 .gform_button {
    margin-left: 0% !important;
  }
}

.home-carousel-wrapper {
  position: relative;
}
.home-carousel-wrapper .carousel-control-next {
  opacity: 1 !important;
}
.home-carousel-wrapper .carousel-control-prev {
  opacity: 1 !important;
}
.home-carousel-wrapper .carousel-item {
  height: 625px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 2000px) {
  .home-carousel-wrapper .carousel-item {
    height: 575px;
  }
}
@media (max-width: 1600px) {
  .home-carousel-wrapper .carousel-item {
    height: 475px;
  }
}
@media (max-width: 767px) {
  .home-carousel-wrapper .carousel-item {
    height: 300px;
  }
}

.archive-menu {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid #1faee4;
  border-bottom: 2px solid #1faee4;
  padding-top: 15px;
  padding-bottom: 15px;
}
.archive-menu p {
  display: inline-block;
  color: #1faee4;
  display: inline-block;
  padding-right: 25px;
  font-size: 20px;
  font-weight: 600;
}
.archive-menu a {
  border: 1px solid #1faee4;
  padding: 15px;
  font-size: 18px;
  color: white;
  background: #1faee4;
  text-transform: uppercase;
  margin-right: 20px;
  line-height: 3.5;
  transition: all 0.2s ease-in;
}
@media (max-width: 1200px) {
  .archive-menu a {
    padding: 12px;
    font-size: 16px;
  }
}
.archive-menu a:hover {
  color: #1faee4;
  border: 1px solid #1faee4;
  text-decoration: none;
  background: white;
}
@media (max-width: 767px) {
  .archive-menu a {
    font-size: 15px;
    margin-right: 15px;
  }
}
.archive-menu br {
  display: none;
}

.news-band {
  padding-top: 50px;
  padding-bottom: 75px;
}
.news-band .post-title-wrapper {
  min-height: 100px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .news-band .post-title-wrapper {
    min-height: auto;
  }
}
.news-band .post-title-wrapper a {
  color: #beeeec;
}
.news-band .post-title-wrapper a:hover {
  color: #1faee4;
  text-decoration: none;
}
.news-band .post-title-wrapper h2 {
  font-size: 22px;
}
@media (max-width: 767px) {
  .news-band .post-title-wrapper h2 {
    margin-top: 25px;
  }
}
.news-band .underline {
  height: 2px;
  width: 100%;
  background: #1faee4;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .news-band .underline {
    display: none;
  }
}

.post-date {
  font-size: 18px;
  margin-top: 14px;
  border-bottom: 2px solid #1faee4;
  padding-bottom: 10px;
  margin-top: 30px;
}

.post-img {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 225px;
}
.post-img:hover {
  opacity: 0.8;
}

.post-content-wrapper .intro {
  font-size: 18px;
  min-height: 120px;
}
@media (max-width: 767px) {
  .post-content-wrapper .intro {
    min-height: auto;
  }
}
.post-content-wrapper .link a {
  font-size: 20px;
  font-weight: 600;
}

/* single posts */
.case-study-title {
  font-size: 20px;
  margin-top: 15px;
}

.hero-image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 625px;
}
@media (max-width: 2000px) {
  .hero-image {
    height: 575px;
  }
}
@media (max-width: 1600px) {
  .hero-image {
    height: 475px;
  }
}
@media (max-width: 767px) {
  .hero-image {
    height: 300px;
  }
}

.single-case-study-content {
  padding-top: 25px;
  padding-bottom: 25px;
}

/*.single-blog-container{

  padding-bottom: 25px;

}

.single-blog-top{

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid $light-blue;
  position: relative;

  p{

    position: absolute;
    right: 0px;
    top: 40px;

    span{

      color: $light-blue;
      padding-left: 10px;
      padding-right: 10px;

    }

  }

}

.single-post-img{

  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  height: 500px;

  @media(max-width: $mobile){

    height: 330px;

  }

}

.single-blog-header{

  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 26px;

}

.social-share-wrapper{

  display: inline-flex;
  margin-top: 20px;

  p{

    color: $light-blue;
    padding-right: 15px;
    font-weight: 600;
    font-size: 18px;

  }

}*/
.page-container {
  background: white;
}

.footer-top {
  background: #ebf4fb;
  margin-top: -15px;
  padding-bottom: 30px;
  padding-top: 10px;
}

footer {
  background: #1faee4;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .footer-row {
  border-top: 1px solid white;
  padding-top: 25px;
}
footer .footer-row h5 {
  color: white;
  margin-bottom: 20px;
}
footer .footer-row nav ul {
  list-style-type: none;
  padding-left: 0px;
}
footer .footer-row nav ul li {
  padding-bottom: 8px;
}
footer .footer-row nav ul li a {
  color: black;
}
footer .footer-row img {
  max-width: 90%;
}
@media (max-width: 767px) {
  footer .footer-row img {
    max-width: 200px;
    margin-bottom: 25px;
  }
}
footer i {
  color: white;
  padding-right: 15px;
  font-size: 20px;
}

.left-products-landing {
  padding-top: 25px;
  padding-bottom: 25px;
}
.left-products-landing a {
  font-size: 30px;
  color: #1faee4;
  transition: all 0.2s ease-in;
}
.left-products-landing a:hover {
  color: #1abc9c;
  text-decoration: none;
}

.right-products-landing {
  background: #e3f2f0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.right-products-landing h2 {
  color: #1abc9c;
  border-bottom: 1px solid #1abc9c;
  padding-top: 50px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 36px;
}

.products-landing-row {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #1faee4;
}
.products-landing-row h3 {
  min-height: 85px;
}
.products-landing-row .product-info {
  border-top: 1px solid #1faee4;
  padding-top: 20px;
  padding-bottom: 20px;
}
.products-landing-row .product-info p {
  color: #1faee4;
  font-size: 17px;
  margin-bottom: 0px;
}
.products-landing-row .product-info .fa-chevron-down {
  float: right;
  cursor: pointer;
}
.products-landing-row .product-info .fa-chevron-up {
  float: right;
  cursor: pointer;
}
.products-landing-row .product-info .product-excerpt {
  display: none;
}
.products-landing-row .product-info .product-excerpt p {
  color: black;
}

.bottom-products-band {
  padding-bottom: 50px;
}
.bottom-products-band h2 {
  min-height: 140px;
}
@media (max-width: 767px) {
  .bottom-products-band h2 {
    min-height: auto;
  }
}

.half-image {
  background: blue;
}
/*# sourceMappingURL=style.css.map */