.archive-menu{

  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid $light-blue;
  border-bottom: 2px solid $light-blue;
  padding-top: 15px;
  padding-bottom: 15px;

  p{

    display: inline-block;
    color: $light-blue;
    display: inline-block;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 600;

  }

  a{

    border: 1px solid $light-blue;
    padding: 15px;
    font-size: 18px;
    color: white;
    background: $light-blue;
    text-transform: uppercase;
    margin-right: 20px;
    line-height: 3.5;
    transition: $transition;


    @media(max-width: $laptop){

      padding: 12px;
      font-size: 16px;

    }

    &:hover{

      color: $light-blue;
      border: 1px solid $light-blue;
      text-decoration: none;
      background: white;


    }

    @media(max-width: $mobile){

      font-size: 15px;
      margin-right: 15px;

    }

  }

  br{

    display: none;

  }

}

.news-band{

  padding-top: 50px;
  padding-bottom: 75px;

  .post-title-wrapper{

    min-height: 100px;
    margin-top: 10px;

    @media(max-width: $mobile){

      min-height: auto;

    }

    a{

      color: $light-green;

      &:hover{

        color: $light-blue;
        text-decoration: none;

      }

    }

    h2{

      font-size: 22px;

      @media(max-width: $mobile){

        margin-top: 25px;

      }

      }

  }

  .underline{

    height: 2px;
    width: 100%;
    background: $light-blue;
    margin-top: 30px;
    margin-bottom: 20px;

    @media(max-width: $mobile){

      display: none;

    }

  }

}

.post-date{

  font-size: 18px;
  margin-top: 14px;
  border-bottom: 2px solid $light-blue;
  padding-bottom: 10px;
  margin-top: 30px;

}

.post-img{

  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  height: 225px;

  &:hover{

    opacity: 0.8;

  }

}

.post-content-wrapper{

  .intro{

    font-size: 18px;
    min-height: 120px;

    @media(max-width: $mobile){

      min-height: auto;

    }

  }

  .link{

    a{

      font-size: 20px;
      font-weight: 600;

    }

  }

}

/* single posts */

.case-study-title{

  font-size: 20px;
  margin-top: 15px;

}

.hero-image{

  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  height: 625px;

  @media(max-width: 2000px){

    height: 575px;

  }

  @media(max-width: 1600px){

    height: 475px;

  }

  @media(max-width: $mobile){

      height: 300px;

  }

}

.single-case-study-content{

    @include paddingTopBot();

}

/*.single-blog-container{

  padding-bottom: 25px;

}

.single-blog-top{

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid $light-blue;
  position: relative;

  p{

    position: absolute;
    right: 0px;
    top: 40px;

    span{

      color: $light-blue;
      padding-left: 10px;
      padding-right: 10px;

    }

  }

}

.single-post-img{

  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  height: 500px;

  @media(max-width: $mobile){

    height: 330px;

  }

}

.single-blog-header{

  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 26px;

}

.social-share-wrapper{

  display: inline-flex;
  margin-top: 20px;

  p{

    color: $light-blue;
    padding-right: 15px;
    font-weight: 600;
    font-size: 18px;

  }

}*/
