.main-contact-band {
    background: white;
}

#contact-image img {
    width: 100%;
    height: auto;
}

.main-contact-band {
    padding-bottom: 15px;
}

.main-contact-band h3 {
    padding-top: 0;
}
