$green: #1abc9c;
$light-green: #beeeec;
$lightest-green: #e3f2f0;
$light-blue: #1faee4;
$lightest-blue: #ebf4fb;
$light-grey: #e9e9e9;

$laptop: 1200px;
$medium: 991px;
$mobile: 767px;

$rowPadding: 25px;


/* Mixins */

@mixin paddingTopBot {

    padding-top: $rowPadding;
    padding-bottom: $rowPadding;

}

@mixin flexboxCenter {

    display: -webkit-box; // old
    display: -moz-box; // old
    display: -ms-flexbox; // ie
    display: -webkit-flex; // new
    display: flex; // new
    align-items: center;
    justify-content: center;

}

@mixin centerBackgroundImage {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

@mixin headerFont {

    font-family: 'sofia-pro', sans-serif;
    font-weight: 600;
    font-style: normal;

}

@mixin copyFont {

    font-family: 'sofia-pro', sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* transitions */
$transition: all 0.2s ease-in;

body {
    @include copyFont();
    overflow-x: hidden;
}

h1 {

    color: $light-blue;
    border-bottom: 1px solid $light-blue;
    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-size: 36px;
    @include headerFont();

}

h2 {

    color: $light-blue;
    border-bottom: 1px solid $light-blue;
    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-size: 30px;
    @include headerFont();

}

h3 {
    color: $light-blue;
    border-bottom: 1px solid $light-blue;
    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-size: 20px;
    @include headerFont();
}

h4 {
    @include headerFont();
}

h5 {

    @include copyFont();

}

.sentek-button {

    color: $green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid $green;
    transition: $transition;

    &:hover {

        background: $green;
        color: white;
        border: 2px solid white;
        text-decoration: none;

    }

}

.white-button {

    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid white;
    transition: $transition;

    &:hover {

        background: $green;
        color: white;
        border: 2px solid white;
        text-decoration: none;

    }

}

p,
ul,
li,
a,
span {
    @include copyFont();
}


@import 'header';
@import 'mobile-menu';
@import 'home';
@import 'slider';
@import 'case-studies';
@import 'page';
@import 'footer';
@import 'products-landing';
@import 'about';
